* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: $dark;
    font-family: 'Montseratt';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p,
li,
input,
button,
a {
    font-size: 1.5rem;
}


h1 {
    font-size: 2.5rem;
}