// Colors

$orange:#DB907D;
$orange-1:#E5C7BB;
$orange-2:#FB7B6B;
$pink:#CE75C2;
$pink-1:#D7385E;
$purple:#6D54A9;
$blue:#0D469D;
$blue-1:#022660;

$dark:#2c2c2c;
$light:#ffffff;

$grey:#D2D2D2;



// Shadows
/*
B3B3B3
F2F2F2

252525
333333
*/

// Border

/* 
EFF4F9

*/

// Fill

/*
D2D2D2

D3D3D3

*/